{% extends 'base.html.twig' %}

{% block body %}
    <div class="collapse bg-inverse" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
                </div>
                <div class="col-sm-4 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Follow on Twitter</a></li>
                        <li><a href="#" class="text-white">Like on Facebook</a></li>
                        <li><a href="#" class="text-white">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse bg-inverse">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand">{placematts}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">{placematts}</h1>
            <p class="lead text-muted">Yet another placeholder site. For people who like Matt's.</p>
            <p>
                <a href="#" class="btn btn-primary">Main call to action</a>
                <a href="#" class="btn btn-secondary">Secondary action</a>
            </p>
        </div>
    </section>

    <div class="gallery">
        <div class="container">
            <div class="row" style="margin-bottom: 30px">
                <div class="col-sm-6">
                    <div class="card" style="height: 300px">
                        <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">A quick and simple service for getting pictures of kittens for use as placeholders in your designs or code. Just put your image size (width & height) after our URL and you'll get a placeholder.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" style="height: 300px">
                        <img src="http://via.placeholder.com/350x300" alt="" class="img-responsive" style="max-height: 100%">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="card" style="height: 300px">
                        <img src="http://via.placeholder.com/350x300" alt="" class="img-responsive" style="max-height: 100%">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" style="height: 300px">
                        <img src="http://via.placeholder.com/350x300" alt="" class="img-responsive" style="max-height: 100%">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" style="height: 150px">
                        <img src="http://via.placeholder.com/150x150" alt="" class="img-responsive" style="max-height: 100%">
                    </div>
                    <div class="card" style="height: 150px">
                        <img src="http://via.placeholder.com/150x150" alt="" class="img-responsive" style="max-height: 100%">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" style="height: 150px">
                        <img src="http://via.placeholder.com/150x150" alt="" class="img-responsive" style="max-height: 100%">
                    </div>
                    <div class="card" style="height: 150px">
                        <img src="http://via.placeholder.com/150x150" alt="" class="img-responsive" style="max-height: 100%">
                    </div>
                </div>
            </div>



                {#<div class="card">#}
                    {#<img data-src="holder.js/100px280/thumb" alt="Card image cap">#}
                    {#<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>#}
                {#</div>#}
                {#<div class="card">#}
                    {#<img data-src="holder.js/100px280/thumb" alt="Card image cap">#}
                    {#<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>#}
                {#</div>#}

                {#<div class="card">#}
                    {#<img data-src="holder.js/100px280/thumb" alt="Card image cap">#}
                    {#<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>#}
                {#</div>#}
                {#<div class="card">#}
                    {#<img data-src="holder.js/100px280/thumb" alt="Card image cap">#}
                    {#<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>#}
                {#</div>#}
                {#<div class="card">#}
                    {#<img data-src="holder.js/100px280/thumb" alt="Card image cap">#}
                    {#<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>#}
                {#</div>#}

                {#<div class="card">#}
                    {#<img data-src="holder.js/100px280/thumb" alt="Card image cap">#}
                    {#<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>#}
                {#</div>#}
                {#<div class="card">#}
                    {#<img data-src="holder.js/100px280/thumb" alt="Card image cap">#}
                    {#<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>#}
                {#</div>#}
                {#<div class="card">#}
                    {#<img data-src="holder.js/100px280/thumb" alt="Card image cap">#}
                    {#<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>#}
                {#</div>#}

        </div>
    </div>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>{placematts} built by <a href="https://rickwest.co.uk">Rick West</a></p>
            <p>Inspired by placehold.it | placekitten.com | etc etc...</p>
        </div>
    </footer>
{% endblock %}
